<!doctype html>
<html>
<head>
    <title>NeonMob Enhancer</title>
    <link href="../css/settings.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8" src="../common.js"></script>
    <script type="text/javascript" charset="utf-8" src="../settings.js"></script>
</head>
<body>
<div class="row">
    <div class="small-12 columns">
        <h2>NeonMob Enhancer Settings</h2>
        <p>Show Pack Information</p>
        <div class="switch small">
            <input class="switch-input" id="pack" type="checkbox" name="pack">
            <label class="switch-paddle" for="pack">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
        <p>Show Rarity Count Information</p>
        <div class="switch small">
            <input class="switch-input" id="count" type="checkbox" name="count">
            <label class="switch-paddle" for="count">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
        <p>Show Chase/Variant Print Count</p>
        <div class="switch small">
            <input class="switch-input" id="special" type="checkbox" name="special">
            <label class="switch-paddle" for="special">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
    </div>
</div>
</body>
</html>

