<!doctype html>
<html>
<head>
    <title>NeonMob Enhancer</title>
    <link href="../css/settings.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8" src="../common.js"></script>
    <script type="text/javascript" charset="utf-8" src="../settings.js"></script>
</head>
<body>
<div class="row">
    <div class="small-12 columns">
        <h1>NeonMob Enhancer Settings</h1>
        <p>Show Pack Information</p>
        <div class="switch small">
            <input class="switch-input" id="pack-info" type="checkbox" checked name="pack-info">
            <label class="switch-paddle" for="pack-info">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
        <p>Show Rarity Count Information</p>
        <div class="switch small">
            <input class="switch-input" id="count-info" type="checkbox" checked name="count-info">
            <label class="switch-paddle" for="count-info">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
        <p>Show Chase/Variant Print Count</p>
        <div class="switch small">
            <input class="switch-input" id="special-info" type="checkbox" checked name="special-info">
            <label class="switch-paddle" for="special-info">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
    </div>
</div>
</body>
</html>

